html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %source-400;
  color: $text;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wide-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 52px;
  @extend %source-400;
  color: var(--title);
  line-height: normal;
}

button {
  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

.button {
  padding: 17px 29px;
  border-radius: 50px;
  color: var(--white);
  border: 1px solid var(--white);
  cursor: pointer;
  transition:
    color 0.5s,
    background-color 0.5s,
    border-color 0.5s ease;

  &--red {
    background-color: var(--btn);

    &:hover {
      background-color: var(--white);
      border-color: var(--btn);
      color: var(--btn);
    }
  }

  &--blue {
    background-color: var(--light-blue);

    &:hover {
      background-color: var(--white);
      border-color: var(--light-blue);
      color: var(--light-blue);
    }
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  &:active,
  &:focus {
    outline: transparent;
  }

  &:focus,
  &:hover,
  &:active {
    border: 1px solid #9cc0f9;
  }
}
