$accent: #ed1c24;
$bg: #1c1c1c;
$text: #4b4b4b;

// ! Объявление CSS переменных
:root {
  --accent: #2378c9;
  --menu: #302d2d;
  --white: #fff;
  --btn: #f86d6d;
  --light-blue: #5eb8f0;
  --bg: #dfeefc;
  --footer-bg: #10406f;
  --title: #302d2d;
  --sometext: #c5c1fe;
  --border: #e4e4e4;
  --banner-bg: #0e6eaa;
  --ring: #67a9e9;
  --news-bg: #f6f6f6;
  --meta: #a9a9a9;
  --placeholder: #b9b9b9;
  --form-text: #747474;
  --footer-text: #e0e0e0;
  --copy-text: #c3c3c3;
  --blog-border: #e2dfdf;
  --specialists-subtitle: #56565e;
}
// ! Использование CSS переменных
.link__example {
  color: var(--accent);
}

// ! Миксин для fancybox(video-popup), предотвращает ошибку gulp
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// ! Миксин для ограничения строк текста
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
// ! Использование миксина, вставляем непосредственно в тот селектор в котором хотим ограничить количество строк
.class__example {
  @include line-clamp(3);
}

// ! Шаблон для скрытия checkbox и radio buttons
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
// ! Использование шаблона
.checkbox__example {
  @extend %checkbox-hidden;
}

.radio__example {
  @extend %radio-hidden;
}

// ! Шаблон для Шрифта
%source-300 {
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
}

%source-400 {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-weight: 400;
}

%source-600 {
  font-family: "SourceSansPro-SemiBold", sans-serif;
  font-weight: 600;
}

%source-700 {
  font-family: "SourceSansPro-Bold", sans-serif;
  font-weight: 700;
}

%gilroy-400 {
  font-family: "Gilroyregular", sans-serif;
  font-weight: 400;
}
// ! Использование шаблона
// @extend %font-name-400;
