.header {
  margin-bottom: 99px;

  &__top {
    background-color: var(--accent);
    padding: 14px 0;
    color: var(--white);
  }

  &__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__local {
    padding-left: 30px;
    position: relative;
    font-size: 14px;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 23px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/svg-sprite/sprite.svg#location);
      background-size: cover;
    }
  }

  &__contacts-box {
    display: flex;
    align-items: center;
  }

  &__contacts {
    margin-right: 55px;
  }

  &__contact {
    color: var(--white);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-size: cover;
    }

    &--phone {
      padding-left: 26px;

      &::before {
        width: 16px;
        height: 16px;
        background-image: url(../images/svg-sprite/sprite.svg#phone);
      }
    }

    &--mail {
      padding-left: 31px;

      &::before {
        width: 21px;
        height: 18px;
        background-image: url(../images/svg-sprite/sprite.svg#envelope);
      }
    }

    &:first-child {
      margin-right: 40px;
    }
  }

  &__menu-box {
    padding: 26px 0 18px;
    background-color: #fff;
    position: fixed;
    left: 0;
    z-index: 155;
    width: 100%;
  }

  &__menu-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
    gap: 40px;
  }

  &__menu-link {
    font-size: 18px;
    color: var(--menu);
  }

  &__btn {
    font-size: 14px;
  }
}

.media {
  &__items {
    display: flex;
    gap: 31px;
  }
}

.scroll-top {
  &.hidden {
    .header__menu-box {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-3000px);
    }
  }

  &.appearance {
    .header__menu-box {
      visibility: visible;
      transform: translateY(0%);
      opacity: 1;
      top: 0;
      box-shadow:
        0 10px 20px -12px rgba(133, 133, 133, 0.42),
        0 3px 20px 0 rgb(0 0 0 / 12%),
        0 8px 10px -5px rgb(0 0 0 / 20%);
      transition: transform 0.8s ease 0s;
    }
  }
}
