.specialists {
  padding: 71px 0;

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 71px;
  }

  &__img {
    width: 432px;
    height: 627px;
    object-fit: cover;
    margin-right: 69px;
    border-radius: 20px;
    box-shadow: -1px 1px 11px 3px rgba(46, 44, 44, 0.21);
  }

  &__title {
    margin-bottom: 32px;
  }

  &__text-box {
    color: var(--specialists-subtitle);
  }

  &__text-title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  &__text-items {
    margin-bottom: 32px;
  }

  &__text-item {
    font-size: 18px;
    line-height: 32.5px;

    p {
      position: relative;
      padding-left: 19px;

      &::before {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: var(--accent);
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__text-subtitle {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__bottom-item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text-bottom {
    font-size: 19px;
    line-height: 34.5px;
  }

  .relations {
    &__item {
      max-width: 386px;
      width: 100%;

      &:nth-child(1) {
        background-color: #54a0cf;

        .relations__item-title {
          &::before {
            content: "";
            position: absolute;
            width: 45px;
            height: 45px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../images/svg-sprite/sprite.svg#phone);
            background-size: cover;
          }
        }
      }

      &:nth-child(2) {
        background-color: #29a9f9;

        .relations__item-title {
          &::before {
            content: "";
            position: absolute;
            width: 45px;
            height: 45px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../images/svg-sprite/sprite.svg#envelope);
            background-size: cover;
          }
        }
      }

      &:nth-child(3) {
        background-color: #328dc6;

        .relations__item-title {
          &::before {
            content: "";
            position: absolute;
            width: 45px;
            height: 45px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../images/svg-sprite/sprite.svg#social);
            background-size: cover;
          }
        }
      }
    }
  }
}
