<section class="banner">
  <div class="container">
    <div class="banner__text-box">
      <div class="banner__text-undertitle">
        <p>
          Стоматологическая клиника Dental Tooth
        </p>
      </div>
      <h1 class="banner__title">Безболезненное лечение зубов</h1>
      <div class="banner__descr">
        <p>
          Талантливая команда стоматологов, признанных за высокое качество стоматологических процедур.
        </p>
      </div>

      <button class="banner__btn button button--blue" type="button">Записаться на прием</button>
    </div>
  </div>
</section>