<section class="blog">
  <div class="container">
    <img class="blog__img" src="images/blog/blog-img.jpg" alt="Blog image">
    <div class="blog__meta">
      <span>05 ноября 2022</span>
      <a class="blog__meta-link" href="#"><span>1</span> комментарий</a>
    </div>

    <h2 class="blog__title title">Что стоматолог может сделать для ваших зубов?</h2>
    <div class="blog__text-wrap">
      <div class="blog__text-box">
        <p>
          Для того, чтобы вы могли видеть, откуда все это рожденное заблуждение тех, кто обвиняет удовольствие и
          восхваляет
          страдание, я раскрою все дело и объясню то самое, что было сказано этим открывателем истины и как бы
          архитектором
          истины. счастливая жизнь. Ибо никто не презирает, не ненавидит и не бежит от удовольствия не потому, что оно
          есть
          удовольствие, а потому, что великие страдания причиняют тому, кто не умеет разумно следовать за удовольствием.
        </p>
        <p>
          Кроме того, нет никого, кто, потому что он любит боль, преследует ее, хочет ее получить, а потому, что никогда
          не бывает
          таких времен, когда он ищет большого удовольствия через труд и боль. Ибо, говоря в мельчайших подробностях,
          кто из нас
          предпринимает какие-либо физические упражнения, требующие труда, кроме как для того, чтобы извлечь из них
          какую-либо
          пользу? Но кто может справедливо критиковать того, кто хочет быть в удовольствии, которое не приносит
          дискомфорта, или
          того, кто избегает той боли, которая не приносит удовольствия?»
        </p>
        <h3 class="blog__text-title">Как быть?</h3>
        <p>
          Но на самом деле мы и обвиняем, и низвергаем тех, кто достоин справедливой ненависти, кто смягчился лестью
          сиюминутных
          удовольствий, кто какими скорбями и какими бедами испорчен.
        </p>
        <h3 class="blog__text-title">Что с этим делать?</h3>
        <p>
          Но на самом деле мы и обвиняем их, и справедливой ненавистью приводим тех, кто этого заслуживает, и обращаем
          их
          в
          бегство.
          Тех, кто размягчен и развращен лестью сиюминутных удовольствий, тех, кто исполнен печалей.
          Равным образом виновны и те, которые оставляют свои обязанности из-за слабости ума, то есть трудов и болей.
          Ибо в свободное время, когда мы свободны в выборе, ничто не мешает нам ни в малейшей степени.
          С другой стороны, мы осуждаем с праведным негодованием и неприязнью к людям, которые настолько обольщены и
          деморализованы прелестями сиюминутного удовольствия, настолько ослеплены желанием, что не могут предвидеть
          страданий и
          бед, которые неизбежно последуют за ними; и в равной степени виноваты те, кто не выполняет свой долг.
        </p>
      </div>

      <div class="blog__navigation">
        <a href="#" class="blog__arrow blog__arrow--prev">
          <svg class='blog__nav-svg blog__nav-svg--prev' width='48' height='28'>
            <use xlink:href='images/svg-sprite/sprite.svg#prev'></use>
          </svg>
          Все что Вы хотели узнать про сознательную седацию
        </a>
        <a href="#" class="blog__arrow blog__arrow--next">
          Как выбрать стоматологию и не ошибиться?
          <svg class='blog__nav-svg blog__nav-svg--next' width='48' height='28'>
            <use xlink:href='images/svg-sprite/sprite.svg#next'></use>
          </svg>
        </a>
      </div>
    </div>


    <div class="blog__comments">
      <div class="blog__form-box">
        <div class="blog__form-inputs">
          <h3 class="blog__comments-title">Оставить комментарий</h3>
          <form class="blog__form">
            <div class="blog__inputs">
              <input class="blog__input" type="text" placeholder="Ваше имя">
              <input class="blog__input" type="email" placeholder="Ваш email">
            </div>
            <textarea class="blog__textarea" placeholder="Комментарий"></textarea>
            <button class="blog__btn button button--red" type="submit">Отправить</button>
          </form>
        </div>
        <div class="blog__form-text">
          <p>
            <span>1</span> комментарий о посте “Стоматология липкий”
          </p>
        </div>
      </div>

      <div class="blog__bottom">
        <img class="blog__bottom-img" src="images/blog/blog-img2.jpg" alt="Blog image">

        <div class="blog__bottom-text">
          <div class="blog__bottom-name">
            <p>
              Лена До
            </p>
          </div>
          <div class="blog__date">
            <p>
              08 сентября, 2022 1 минуту назад
            </p>
          </div>
          <div class="blog__bottom-comment">
            <p>
              Очень интересный пост. Узнала много нового.
            </p>
          </div>
          <button class="blog__bottom-btn">Ответить</button>
        </div>
      </div>
    </div>
  </div>
</section>