<section class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <h2 class="contacts__title title">Контакты</h2>

      <div class="relations">
        <ul class="relations__items">
          <li class="relations__item">
            <div class="relations__item-title">Наш офис</div>
            <address>
              ул. Протопского 28А город Алматы
            </address>
          </li>
          <li class="relations__item">
            <div class="relations__item-title">Наш телефон</div>
            <a class="relations__link" href="tel:+77776544454">+7 (777) 654 44 54</a>
          </li>
          <li class="relations__item">
            <div class="relations__item-title">Наш email</div>
            <a class="relations__link" href="mailto:info@dentaltooth.kz">info@dentaltooth.kz</a>
          </li>
          <li class="relations__item">
            <div class="relations__item-title">Мы в социальных сетях</div>
            <div class="media">
              <ul class="media__items">
                <li class="media__item">
                  <a href="" class="media__link">
                    <svg class='media__svg' width='22' height='22'>
                      <use xlink:href='images/svg-sprite/sprite.svg#twitter'></use>
                    </svg>
                  </a>
                </li>
                <li class="media__item">
                  <a href="" class="media__link">
                    <svg class='media__svg' width='22' height='22'>
                      <use xlink:href='images/svg-sprite/sprite.svg#instagram'></use>
                    </svg>
                  </a>
                </li>
                <li class="media__item">
                  <a href="" class="media__link">
                    <svg class='media__svg' width='22' height='22'>
                      <use xlink:href='images/svg-sprite/sprite.svg#vk'></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="contacts__form-box">
      <h2 class="contacts__form-title title">Связаться с нами</h2>

      <form class="contacts__form">
        <div class="contacts__inputs">
          <input class="contacts__input" type="text" placeholder="Ваше имя">
          <input class="contacts__input" type="tel" placeholder="Ваш телефон">
        </div>
        <textarea class="contacts__textarea" placeholder="Комментарий"></textarea>
        <button class="contacts__form-btn button button--red" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>