<div class="container">
  <div class="footer__inner">
    <div class="footer__contacts">
      <a class="footer__logo-link" href="index.html">
        <img class="footer__logo" src="images/footer/footer-logo.png" alt="Logo">
      </a>
      <ul class="footer__contacts-items">
        <li class="footer__contacts-item">
          <address>
            ул. Протопского 28А город Алматы
          </address>
        </li>
        <li class="footer__contacts-item footer__contacts-item--tel">
          <a class="footer__contacts-link" href="tel:+77776544454">+7 (777) 654 44 54</a>
        </li>
        <li class="footer__contacts-item footer__contacts-item--mail">
          <a class="footer__contacts-link" href="mailto:info@dentaltooth.kz">info@dentaltooth.kz</a>
        </li>
        <li class="footer__contacts-item">
          <div class="media">
            <ul class="media__items">
              <li class="media__item">
                <a href="" class="media__link">
                  <svg class='media__svg' width='22' height='22'>
                    <use xlink:href='images/svg-sprite/sprite.svg#twitter'></use>
                  </svg>
                </a>
              </li>
              <li class="media__item">
                <a href="" class="media__link">
                  <svg class='media__svg' width='22' height='22'>
                    <use xlink:href='images/svg-sprite/sprite.svg#instagram'></use>
                  </svg>
                </a>
              </li>
              <li class="media__item">
                <a href="" class="media__link">
                  <svg class='media__svg' width='22' height='22'>
                    <use xlink:href='images/svg-sprite/sprite.svg#vk'></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <ul class="footer__lists">
      <li class="footer__item">
        <ul class="footer__list">
          <li class="footer__list-item">Наши услуги</li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Отбеливание зубов</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Лечение десен</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Апноэ во сне</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Реставрации</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Дизайн улыбки</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Корневой канал</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Имплантационная стоматология</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Сознательная седация</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Ортодонтия</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <ul class="footer__list">
          <li class="footer__list-item">Наши стоматологи</li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">John Doe</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Evan Krak</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Sophia Green</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item-link" href="#">Maria Delfina</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <ul class="footer__list">
          <li class="footer__list-item">Часы работы</li>
          <li class="footer__list-item">Понедельник: 8:30 - 9:00</li>
          <li class="footer__list-item">Вторник: 8:00 - 9:00</li>
          <li class="footer__list-item">Среда: 8:00 - 9:00</li>
          <li class="footer__list-item">Четверг: 8:30 - 9:00</li>
          <li class="footer__list-item">Пятница: 10:00 - 4:00</li>
          <li class="footer__list-item">Суббота: выходной</li>
          <li class="footer__list-item">Воскресенье: Закрыто</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="footer__bottom">
  <p>
    2023 © Dental Tooth Все права защищены
  </p>
</div>