<section class="news">
  <div class="container">
    <h2 class="news__title title">Новости Dental Tooth</h2>

    <ul class="news__items">
      <li class="news__item">
        <article class="news__article">
          <a class="news__img-link" href="blog-one.html">
            <img class="news__img" src="images/news/1.jpg" alt="News image">
          </a>
          <div class="news__inner">
            <div class="news__meta">
              <span>05 ноября 2022</span>
              <a class="news__meta-link" href="#">0 комментариев</a>
            </div>
            <a class="news__title-link" href="blog-one.html">
              <h3 class="news__item-title">Что стоматолог может сделать для ваших зубов</h3>
            </a>
            <div class="news__text">
              <p>
                Если они были измотаны, то и боль, и таблетку, и саму подушку, и саму боль надо беречь, в следующий раз
              </p>
            </div>
            <a class="news__link-btn button button--blue" href="blog-one.html">Читать далее</a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__img-link" href="blog-one.html">
            <img class="news__img" src="images/news/2.jpg" alt="News image">
          </a>
          <div class="news__inner">
            <div class="news__meta">
              <span>05 ноября 2022</span>
              <a class="news__meta-link" href="#">0 комментариев</a>
            </div>
            <a class="news__title-link" href="blog-one.html">
              <h3 class="news__item-title">Как выбрать стоматологию и не ошибиться?</h3>
            </a>
            <div class="news__text">
              <p>
                Безусловно, существующая теория позволяет выполнить важные задания по разработке благоприятных
                перспектив
              </p>
            </div>
            <a class="news__link-btn button button--blue" href="blog-one.html">Читать далее</a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__img-link" href="blog-one.html">
            <img class="news__img" src="images/news/3.jpg" alt="News image">
          </a>
          <div class="news__inner">
            <div class="news__meta">
              <span>05 ноября 2022</span>
              <a class="news__meta-link" href="#">0 комментариев</a>
            </div>
            <a class="news__title-link" href="blog-one.html">
              <h3 class="news__item-title">Сильно болит зуб? Лечение в домашних условиях</h3>
            </a>
            <div class="news__text">
              <p>
                Учитывая ключевые сценарии поведения, выбранный нами инновационный путь напрямую зависит от
                поставленных
              </p>
            </div>
            <a class="news__link-btn button button--blue" href="blog-one.html">Читать далее</a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__img-link" href="blog-one.html">
            <img class="news__img" src="images/news/4.jpg" alt="News image">
          </a>
          <div class="news__inner">
            <div class="news__meta">
              <span>05 ноября 2022</span>
              <a class="news__meta-link" href="#">0 комментариев</a>
            </div>
            <a class="news__title-link" href="blog-one.html">
              <h3 class="news__item-title">Как спасти тетрациклиновые зубы?</h3>
            </a>
            <div class="news__text">
              <p>
                Но новая модель организационной деятельности прекрасно подходит для реализации распределения
              </p>
            </div>
            <a class="news__link-btn button button--blue" href="blog-one.html">Читать далее</a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__img-link" href="blog-one.html">
            <img class="news__img" src="images/news/5.jpg" alt="News image">
          </a>
          <div class="news__inner">
            <div class="news__meta">
              <span>05 ноября 2022</span>
              <a class="news__meta-link" href="#">0 комментариев</a>
            </div>
            <a class="news__title-link" href="blog-one.html">
              <h3 class="news__item-title">Как правильно чистить зубы? 15 советов</h3>
            </a>
            <div class="news__text">
              <p>
                Неопровержимые выводы, а также акционеры крупнейших компаний являются только методом
              </p>
            </div>
            <a class="news__link-btn button button--blue" href="blog-one.html">Читать далее</a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <a class="news__img-link" href="blog-one.html">
            <img class="news__img" src="images/news/1.jpg" alt="News image">
          </a>
          <div class="news__inner">
            <div class="news__meta">
              <span>05 ноября 2022</span>
              <a class="news__meta-link" href="#">0 комментариев</a>
            </div>
            <a class="news__title-link" href="blog-one.html">
              <h3 class="news__item-title">Все что Вы хотели узнать про сознательную седацию</h3>
            </a>
            <div class="news__text">
              <p>
                Тщательные исследования конкурентов функционально разнесены на независимые элементы
              </p>
            </div>
            <a class="news__link-btn button button--blue" href="blog-one.html">Читать далее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>