<section class="promo">
  <div class="container">
    <ul class="promo__items">
      <li class="promo__item">
        <div class="promo__icon">
          <svg class='promo__svg' width='48' height='48'>
            <use xlink:href='images/svg-sprite/sprite.svg#watch'></use>
          </svg>
        </div>

        <h3 class="promo__title">Круглосуточная поддержка клиентов</h3>
        <div class="promo__text">
          <p>
            Чтобы записаться на прием или узнать больше об услугах, доступных
          </p>
        </div>
      </li>
      <li class="promo__item">
        <div class="promo__icon">
          <svg class='promo__svg' width='48' height='48'>
            <use xlink:href='images/svg-sprite/sprite.svg#hands'></use>
          </svg>
        </div>

        <h3 class="promo__title">Доступная стоматологическая помощь</h3>
        <div class="promo__text">
          <p>
            Чтобы записаться на прием или узнать больше об услугах, доступных
          </p>
        </div>
      </li>
      <li class="promo__item">
        <div class="promo__icon">
          <svg class='promo__svg' width='48' height='48'>
            <use xlink:href='images/svg-sprite/sprite.svg#team'></use>
          </svg>
        </div>

        <h3 class="promo__title">Команда талантливых врачей</h3>
        <div class="promo__text">
          <p>
            Чтобы записаться на прием или узнать больше об услугах, доступных
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>