<section class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <h2 class="reviews__title title">Что говорят наши клиенты</h2>

      <div class="reviews__slider-box">
        <ul class="reviews__slider">
          <li class="reviews__item">
            <div class="reviews__wrap">
              <img class="reviews__img" src="images/reviews/1.jpg" alt="reviews image">

              <div class="reviews__content">
                <p class="reviews__text">
                  Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество обслуживания на высшем
                  уровне.
                  Сделали
                  отбеливание зубов. Все отлично. Однозначно рекомендую.
                </p>

                <div class="reviews__bottom">
                  <p class="reviews__name">Алина Беляева</p>
                  <div class="reviews__socials">
                    <a class="reviews__svg-box" href="#">
                      <svg class='reviews__svg' width='24' height='24'>
                        <use xlink:href='images/svg-sprite/sprite.svg#twitter-black'></use>
                      </svg>
                    </a>
                    <a class="reviews__svg-box" href="#">
                      <svg class='reviews__svg' width='24' height='24'>
                        <use xlink:href='images/svg-sprite/sprite.svg#vk-black'></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__item">
            <div class="reviews__wrap">
              <img class="reviews__img" src="images/reviews/2.jpg" alt="reviews image">

              <div class="reviews__content">
                <p class="reviews__text">
                  Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество обслуживания на высшем
                  уровне.
                  Сделали
                  отбеливание зубов. Все отлично. Однозначно рекомендую.
                </p>

                <div class="reviews__bottom">
                  <p class="reviews__name">Светлана Хлебникова</p>
                  <div class="reviews__socials">
                    <a class="reviews__svg-box" href="#">
                      <svg class='reviews__svg' width='24' height='24'>
                        <use xlink:href='images/svg-sprite/sprite.svg#twitter-black'></use>
                      </svg>
                    </a>
                    <a class="reviews__svg-box" href="#">
                      <svg class='reviews__svg' width='24' height='24'>
                        <use xlink:href='images/svg-sprite/sprite.svg#vk-black'></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="reviews__item">
            <div class="reviews__wrap">
              <img class="reviews__img" src="images/reviews/3.jpg" alt="reviews image">

              <div class="reviews__content">
                <p class="reviews__text">
                  Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество обслуживания на высшем
                  уровне.
                  Сделали
                  отбеливание зубов. Все отлично. Однозначно рекомендую.
                </p>

                <div class="reviews__bottom">
                  <p class="reviews__name">Николай Васильев</p>
                  <div class="reviews__socials">
                    <a class="reviews__svg-box" href="#">
                      <svg class='reviews__svg' width='24' height='24'>
                        <use xlink:href='images/svg-sprite/sprite.svg#twitter-black'></use>
                      </svg>
                    </a>
                    <a class="reviews__svg-box" href="#">
                      <svg class='reviews__svg' width='24' height='24'>
                        <use xlink:href='images/svg-sprite/sprite.svg#vk-black'></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>