<section class="services">
  <div class="container">
    <div class="services__inner">
      <img class="services__img" src="images/services/services.jpg" alt="services">

      <div class="services__content">
        <h2 class="services__title title">Стоматологическая клиника</h2>
        <div class="services__name">Dental Tooth</div>
        <div class="services__text">
          <p>
            Мы предлагаем широкий спектр стоматологических услуг в общей клинике. Вам будет предоставлен комплексный
            план лечения до
            начала любых стоматологических услуг. Чтобы записаться на прием или узнать больше об услугах, доступных в
            стоматологической клинике, пожалуйста, позвоните по телефону
          </p>
        </div>
        <div class="services__box">
          <p>
            Мы предлагаем услуги:
          </p>
          <ul class="services__list">
            <li class="services__item">
              <ul>
                <li>Отбеливание зубов</li>
                <li>Апноэ во сне</li>
              </ul>
            </li>
            <li class="services__item">
              <ul>
                <li>Лечение десен</li>
                <li>Дизайн улыбки</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>