<section class="sign-up">
  <div class="container">
    <div class="sign-up__wrap">
      <div class="sign-up__inner">
        <h3 class="sign-up__title">Записаться на прием</h3>
        <form class="sign-up__form">
          <div class="sign-up__inputs">
            <input class="sign-up__input" type="text" placeholder="Ваше имя">
            <input class="sign-up__input" type="tel" placeholder="Ваш телефон">
          </div>
          <button class="sign-up__btn button button--blue" type="submit">Записаться на прием</button>
        </form>
        <div class="sign-up__text">
          <p>
            Нажимая кнопку, я даю свое согласие на обработку моих персональных данных
          </p>
        </div>
      </div>
    </div>
  </div>
</section>