<section class="specialists">
  <div class="container">
    <div class="specialists__inner">
      <img src="images/team/5.jpg" alt="Игорь Протопский" class="specialists__img">

      <div class="specialists__content">
        <h2 class="specialists__title title">Игорь Протопский</h2>

        <div class="specialists__text-box">
          <h3 class="specialists__text-title">Образование и квалификация</h3>
          <ul class="specialists__text-items">
            <li class="specialists__text-item">
              <p>
                Д.М.Д. из XYZ Post Graduate Institute of Dental dciences. Австралия

              </p>
            </li>
            <li class="specialists__text-item">
              <p>
                М.С.К. из XYZ Post Graduate Institute of Dental dciences. Австралия
              </p>
            </li>
            <li class="specialists__text-item">
              <p>
                КАНДИДАТ НАУК. из XYZ Post Graduate Institute of Dental dciences. Австралия
              </p>
            </li>
          </ul>

          <div class="specialists__bottom-box">
            <div class="specialists__bottom-item">
              <div class="specialists__text-subtitle">
                <span>Опыт</span>
              </div>
              <div class="specialists__text-item">
                <p>
                  Июнь 2015 г. Более 10 лет опыта работы в стоматологии в качестве Д.М.Д
                </p>
              </div>
            </div>

            <div class="specialists__bottom-item">
              <div class="specialists__text-subtitle">
                <span>График работы:</span>
              </div>
              <div class="specialists__text-bottom">
                <p>
                  Пятница: с 17:00 до 19:00
                </p>
                <p>
                  Суббота: с 16:00 до 19:00
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relations">
      <ul class="relations__items">
        <li class="relations__item">
          <div class="relations__item-title">Наш телефон</div>
          <a class="relations__link" href="tel:+77776544454">+7 (777) 654 44 54</a>
        </li>

        <li class="relations__item">
          <div class="relations__item-title">Наш email</div>
          <a class="relations__link" href="mailto:info@dentaltooth.kz">info@dentaltooth.kz</a>
        </li>

        <li class="relations__item">
          <div class="relations__item-title">Мы в социальных сетях</div>
          <div class="media">
            <ul class="media__items">
              <li class="media__item">
                <a href="" class="media__link">
                  <svg class='media__svg' width='22' height='22'>
                    <use xlink:href='images/svg-sprite/sprite.svg#twitter'></use>
                  </svg>
                </a>
              </li>
              <li class="media__item">
                <a href="" class="media__link">
                  <svg class='media__svg' width='22' height='22'>
                    <use xlink:href='images/svg-sprite/sprite.svg#instagram'></use>
                  </svg>
                </a>
              </li>
              <li class="media__item">
                <a href="" class="media__link">
                  <svg class='media__svg' width='22' height='22'>
                    <use xlink:href='images/svg-sprite/sprite.svg#vk'></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>